html {
	font-family: "segoe ui", helvetica, sans-serif;
	text-align: center;
}

svg {
	font-size: 12px;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}

svg g:hover {
	cursor: pointer;
}